body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#green {
    grid-column: span 3;
    order: 1;
}

#yellow {
    grid-row: span 2;
    order: 2;
}

#red {
    grid-row: span 2;
    order: 3;
}

#blue {
    grid-row: span 3;
    order: 4;
}

#orange {
    grid-column: span 2;
    order: 5;
}

ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}